<div class="item">
  <div routerLink="/details/{{ data.id }}">
    <img src="{{ data.image }}" alt="" />
    <div class="body">
      <h4>{{ data.title }}</h4>
      <p>Test Add Description</p>
    </div>
  </div>
  <div class="btne px-3 mb-2 d-flex justify-content-between align-items-center">
    <button class="btn btn-success" *ngIf="!addbuton" (click)="addbuton = true">
      Add To Cart
    </button>
    <div class="d-flex w-70" *ngIf="addbuton">
      <input type="number" class="form-control" [(ngModel)]="amount" />
      <button class="btn btn-danger" (click)="Add(); addbuton = false">
        add
      </button>
    </div>
    <span>{{ data.price }}</span>
  </div>
</div>
